<!-- wp:template-part {"slug":"header","theme":"shantivibrationsnsb","tagName":"header"} /-->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"backgroundColor":"secondary","layout":{"type":"constrained"}} -->
<div class="wp-block-group has-secondary-background-color has-background"><!-- wp:template-part {"slug":"new","theme":"shantivibrationsnsb"} /--></div>
<!-- /wp:group -->